<div id="superscription-carousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#superscription-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#superscription-carousel" data-slide-to="1"></li>
    <li data-target="#superscription-carousel" data-slide-to="2"></li>
    <li data-target="#superscription-carousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "carousel1.png" %>
      <div class="carousel-caption">
        <h2 style="color: red;"><em>Reading</em> will never be the same</h2>
      </div>
    </div>

    <div class="item">
      <%= image_tag "carousel2.png" %>
      <div class="carousel-caption">
        <h2 style="color: black;">All your favorite content&mdash;finally aggregated</h2>
      </div>
    </div>

    <div class="item">
      <%= image_tag "carousel3.png" %>
      <div class="carousel-caption">
        <h2 style="color: black;">Easy-to-use categories for perfect organization</h2>
      </div>
    </div>

    <div class="item">
      <%= image_tag "carousel4.png" %>
      <div class="carousel-caption">
        <h2 style="color: black;">Sign up today!</h2>
      </div>
    </div>


  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#superscription-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#superscription-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
