<h3>My Subscriptions</h3>
<ul>
<% @subscriptions.each do |subscription|  %>
  <li><em><%= link_to subscription.title, subscription_url(subscription.id) %></em> from <em><%= link_to subscription.url, subscription.url %></em></li>
<% end %>
</ul>
<p><%= link_to "Create a new subscription!", new_user_subscription_url %></p>