<ul>
<% @subscriptions.each do |subscription|  %>
  <li><em><%= link_to subscription.title, subscription_url(subscription.id) %></em> from <em><%= link_to subscription.url, subscription.url %></em></li>
<% end %>
</ul>
