@import "bootstrap";

.superscription-brand {
  font-size: 350%;
  font-family: 'Jim Nightshade';
  color: #CCCCFF;
  margin: 15px 5px -15px;
}

.header-subtext {
  margin: 2px;
  color: #96A0A0;
}

.notice {
  background-color: #99FF99;
}

.alert {
  background-color: #FFAAAA;
}
