@import "bootstrap";

.superscription-brand {
  font-size: 350%;
  font-family: 'Jim Nightshade';
  color: #CCCCFF;
  margin: 0px 15px -15px;
}

.header-subtext {
  color: #96A0A0;
  margin: 0px 15px 10px;
}

.notice {
  background-color: #99FF99;
}

.alert {
  background-color: #FFAAAA;
}

.button_to {
  margin: 5px;
}

.button_to {
  display: inline;
}

.button_to div {
  display: inline;
}

.superscription-nav-button-group {
  margin: 10px 10px 10px;
}