@import "bootstrap";

.superscription-brand {
  font-size: 350%;
  font-family: 'Jim Nightshade';
  color: #CCCCFF;
  margin: 0px 15px -2px;
}

a:hover.superscription-brand {
  text-decoration: none;
  color: #CCCCFF;
}

.header-subtext {
  color: #96A0A0;
  margin: 0px 15px 10px;
}

.notice {
  background-color: #99FF99;
}

.alert {
  background-color: #FFAAAA;
}

.button_to {
  margin: 5px;
}

.button_to {
  display: inline;
}

.button_to div {
  display: inline;
}

.superscription-nav-button-group {
  margin: 18px 5px 0px;
}


#read_button {
  background-color: #6DE8A2;
}

body {
  padding-top: 80px;
}

.entry-author {
  font-size: 11px;
}

.entry-timestamp {
  font-size: 11px;
}

.entry-subscription {
  font-size: 11px;
}

.category-area {
  border-style: solid;
  border-color: #CCCC7A;
  background-color: #FFFF99;
  margin: 5px;
  min-height: 100px;
}

.subscription-draggable {
  border-style: solid;
  border-color: #EEEEEE;
  background-color: white;
  margin: 5px;
  cursor: pointer;
}
