<script>
$(document).ready(function() {
  $('.subscription-draggable').draggable();
  $('.category-area').droppable({
    drop: function(event, ui) {
      alert($(this).attr("id"));
    }
  });
});

</script>

<% @categories.each do |category| %>
<div class="category-area" id="category-area-<%= category.id %>">
  <p><strong><%= category.name %></strong></p>
  <% category.user_subscriptions.each do |user_subscription| %>
    <span class="subscription-draggable">
      <%= user_subscription.title %>
    </span>
  <% end %>
</div>
<% end %>