<hr>
<small><strong>Superscription</strong> by <strong><a href="http://zackmdavis.net">Zack M. Davis</a></strong> &bull;
  <%= link_to "Source", "https://github.com/zackmdavis/Superscription" %> &bull;
powered by <a href="http://rubyonrails.org/"><%= image_tag "rails.png" %></a></small>