<hr>
<small><strong>Superscription</strong> by <strong><a href="http://zackmdavis.net">Zack M. Davis</a></strong> &bull;
  <%= link_to "Source", "https://github.com/zackmdavis/Superscription" %> &bull; free software under the <%= link_to "MIT License", "http://opensource.org/licenses/MIT" %>
  <br>
  <br>